<div class="margins">
<div class="heading"><h2>My steps to success</h2></div>
<div class="wrapper">
  <div>
    <img src="../../../assets/img/home/define_goals.jpg" alt="square">
    <h4>Define Goals</h4>
    <p>What should the site achieve?</p>
  </div>
  <div>
    <img src="../../../assets/img/home/plan_goals.jpg" alt="square">
    <h4>Plan Goals</h4>
    <p>What is the best approach?</p>
  </div>
  <div>
    <img src="../../../assets/img/home/execute_goals.jpg" alt="square">
    <h4>Execute Goals</h4>
    <p>Design, Develop, Deploy?</p>
  </div>

</div>

<mat-grid-list cols="{{columnNum}}" rowHeight="fit">
  <mat-grid-tile [colspan]="colSpan1"><!--1-->
    <div class="gridCell">
      <div class="linePath">
        <div class="line"></div>
      </div>
      <div class="line2"></div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="colSpan2"><!--2-->
      <div>
        <h2>Where can I learn more?</h2>
        <p>That is a great question you’ve asked. I know just the right place. Let's travel next door to the about me page to deep dive into what, where, when, and who Anthony Lakin is.</p>
      </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
