* {
  color: var(--white);
}

mat-grid-list {
  height: 20em;
  display: block;
}

mat-grid-tile {
  //border: solid 1px white;
}

.heading {
  width: 100%;
  //background-color: green;
  text-align: center;
}

.wrapper {
  padding: 1em;
  //background-color: green;
  margin: 3em 0 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    border: solid 1px white;
    margin: 1em;
    display: block;
  }
}

img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.line2 {
  height: 50%;
  width: .2em;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto auto 12em;
  background-color: var(--accentDark);
}

.gridCell div {
  text-align: right;
}

.linePath {
  height: 100%;
  .line {
    height: 100%;
  }
}


/* Phone */
@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }

  mat-grid-tile:first-child {
    display: none;
  }

  .gridCell {
    text-align: center;
    padding: 0 1em;
    width: auto;
    height: auto;
  }

  .gridCell div {
    position: relative;
  }

}
