* {
  color: var(--white);
}

mat-grid-list {
  height: 20em;
}

mat-grid-tile {
  //border: solid 1px white;
}

.heading {
  width: 100%;
  //background-color: green;
  text-align: center;
  margin: 5em 0;
}

.wrapper {
  height: 20em;
  //background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    //border: solid 1px white;
  }
}

img {
  object-fit: contain;
}

.line2 {
  height: 50%;
  width: .2em;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto auto 12em;
  background-color: var(--accentDark);
}

.gridCell div {
  text-align: right;
}

.linePath {
  height: 100%;
  .line {
    height: 100%;
  }
}
