<div class="margins">
<!--  <div #backLayer class="backgroundImg parallax"></div>-->
  <img class="bg" #backLayer src="../../../assets/img/home/mountain5.png" alt="background image of mountains">
  <mat-grid-list cols="{{columnNum}}" rowHeight="fit">
    <mat-grid-tile [colspan]="1.25" [rowspan]="2" class="text">
      <div class="gridCell">
        <div>
          <h1>Well, hello there</h1>
        <p class="subhead">Let me guess you were just randomly surfing the web, happened to Google “handsome young man who develops websites” tried a few links, and landed here? </p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=".75" [rowspan]="6">
      <div class="imgSquare parallax" #midLayer></div>
      <div class="imgContainer">
        <img #topLayer class="cutOut parallax" ngSrc="../../../assets/img/home/anthonyCutOut2.png" alt="anthony" priority fill></div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colSpan1" [rowspan]="4">
      <div class="gridCell">
      <div class="linePath">
        <div class="arrowDown"></div>
        <div class="line"></div>
      </div></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

