* {
  color: var(--white);
}

img {
  object-fit: cover;
}


.backgroundImg {
  background: black url("../../../assets/img/home/mountain5.png");
  filter: brightness(.6);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 300%;
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
}

mat-grid-tile {
  //border: solid 1px white;
}

mat-grid-list {
  height: 100vh;
  margin-top: 6em;
  writing-mode: bt-rl;
}

.gridCell div {
  bottom: 0;
}


.cutOut {
  top: 0;
  object-fit: contain;
}

.imgContainer {
  margin: 0 1em;
  display: inline;
}

.imgSquare {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 15%;
  background-color: #ffffff;
  //border: solid 1px white;
  opacity: .1;
}

.linePath {
  height: 90%;
  .line {
    height: 90%;
  }
}


/* Phone */
@media screen and (max-width: 700px) {
  mat-grid-list {
    margin: 0;
  }

  mat-grid-tile:last-child {
    display: none;
  }

  mat-grid-tile:first-child {
    //order: 2;
  }

  .gridCell {
    text-align: center;
    padding: 0 1em;
    width: auto;
    height: auto;
  }

  .gridCell div {
    position: relative;
  }

}







