<footer>
  <div class="container">
  <h4>anthonylakin.com</h4>
  <span>
    <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/aboutme" routerLinkActive="active">About Me</a>
  <a routerLink="/connect" routerLinkActive="active">Connect</a>
  <a routerLink="/more" routerLinkActive="active">More</a>
  </span>
    <span>
      <img src="../../../assets/img/footer/Instagram_64x.svg" alt="Instagram Logo">
      <img src="../../../assets/img/footer/Facebook_64x.svg" alt="Instagram Logo">
      <img src="../../../assets/img/footer/LinkedIn_64x.svg" alt="Instagram Logo">
    </span>
  </div>
</footer>
