.example-spacer {
  flex: auto;
}

a {
  padding: 0 2.5em;
  text-decoration: none;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Phone */
@media screen and (max-width: 700px) {
  span {
    display: none;
  }
}

