<article>
<div class="container">
  <div class="three_columns">
    <div class="columnCard">
      <div id="img1" style="background-image: url('../../../assets/img/home/icons/homeHouse.svg')" class="img"></div>
      <h4>Home</h4>
      <p>Greater Kansas City</p>
    </div>
    <div class="columnCard">
      <div style="background-image: url('../../../assets/img/home/icons/homeSchool.svg')" class="img"></div>
      <h4>Home</h4>
      <p>Greater Kansas City</p>
    </div>
    <div class="columnCard">
      <div style="../background-image: url('../../assets/img/home/icons/homeCode.svg')" class="img"></div>
      <h4>Home</h4>
      <p>Greater Kansas City</p>
    </div>
  </div>
</div>
</article>
