<app-header [headerTitle]="dataTitle"></app-header>
<div class="margins">
  <div class="wrapper">
    <mat-grid-list cols="2" rowHeight="50vw">
      <mat-grid-tile>
        <img src="../../assets/img/about/speech.jpg" alt="Anthony at Missouri State">
      </mat-grid-tile>
      <mat-grid-tile>
        <span>
        <h3>Educational</h3>
        <p>I am currently pursuing a Bachelor of Science in Information Technology/Cybersecurity with a focus on App Development at Missouri State University. Throughout my academic journey, I have maintained an impressive GPA of 3.66/4.0, earning a place on the Dean's List every semester. My expected graduation date is in May 2025.</p>
      </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>
        <h3>Experiences</h3>
        <p>From interning at ConocoPhillips, where I honed SQL and Python skills, to conducting detailed analyses in the Office of Internal Audit and Risk Management, I have showcased my dedication to details and patterns. As a Student Technician, I provided top-notch technology support, and as a Student Assistant, I implemented strategies for student engagement and diversity. My leadership roles, technical expertise, and commitment to growth make me a versatile and enthusiastic professional ready to contribute to any industry.</p>
      </span>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/img/about/saab.jpg" alt="Anthony at Missouri State">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/img/about/speech.jpg" alt="Anthony at Missouri State">
      </mat-grid-tile>
      <mat-grid-tile>
        <span>
        <h3>Right Now</h3>
        <p>Currently, I am pushing my boundaries in various domains of IT and computer science. My focus has been on enhancing my design and website development skills through this project. Additionally, I am deeply engrossed in LeetCode, where I am unraveling the intricacies of algorithms and sorting techniques. Furthermore, I am actively honing my presentation skills to effectively showcase and share the multitude of projects I have created with the world.</p>
      </span>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>
<app-footer></app-footer>
