<app-header [headerTitle]="dataTitle"></app-header>
<div class="margins">
  <h1 class="mat-headline-1">Headline 1</h1>
  <h2 class="mat-headline-2">Headline 2</h2>
  <h3 class="mat-headline-3">Headline 3</h3>
    <h4 class="mat-headline-4">Headline 4</h4>
      <h5 class="mat-headline-5">Headline 5</h5>
        <h6 class="mat-headline-6">Headline 6</h6>
          <p class="mat-body-1">Body 1</p>
          <p class="mat-body-2">Body 2</p>
          <p class="mat-caption">Caption</p>

</div>
<app-footer></app-footer>

