<div class="grid-container" >
  <div class="grid-item">
    <mat-card (click)="triggerRoute()"  [routerLink]="['/projects/learn']" routerLinkActive="active">
      <div class="topCard">
          <img src="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu">
        </div>
        <div class="bottomCard">
          <mat-card-title>Simple card</mat-card-title>
          <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
        </div>
    </mat-card>
  </div>
  <div class="grid-item">
    <mat-card (click)="triggerRoute()" [routerLink]="['/projects/learn']" routerLinkActive="active">
      <div class="topCard">
        <img src="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu">
      </div>
      <div class="bottomCard">
        <mat-card-title>Simple card</mat-card-title>
        <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
      </div>
    </mat-card>
  </div>
  <div class="grid-item">
    <mat-card >
      <div class="topCard">
        <img src="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu">
      </div>
      <div class="bottomCard">
        <mat-card-title>Simple card</mat-card-title>
        <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
      </div>
    </mat-card>
  </div>
  <div class="grid-item">
    <mat-card >
      <div class="topCard">
        <img src="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu">
      </div>
      <div class="bottomCard">
        <mat-card-title>Simple card</mat-card-title>
        <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
      </div>
    </mat-card>
  </div>
</div>
