<mat-grid-list cols="2" rowHeight="20em" [gutterSize]="'5vw'">
  <mat-grid-tile>
    <mat-card>
      <div class="gridCell">
        <div class="topCard">
          <img ngSrc="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu" fill>
        </div>
        <div class="bottomCard">
          <mat-card-title>Simple card</mat-card-title>
          <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
        </div>

      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <div class="gridCell">
        <div class="topCard">
          <img ngSrc="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu" fill>
        </div>
        <div class="bottomCard">
          <mat-card-title>Simple card</mat-card-title>
          <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
        </div>

      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <div class="gridCell">
        <div class="topCard">
          <img ngSrc="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu" fill>
        </div>
        <div class="bottomCard">
          <mat-card-title>Simple card</mat-card-title>
          <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
        </div>

      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <div class="gridCell">
        <div class="topCard">
          <img ngSrc="./assets/img/projects/cardIMG.jpg" alt="Photo of a Shiba Inu" fill>
        </div>
        <div class="bottomCard">
          <mat-card-title>Simple card</mat-card-title>
          <mat-card-subtitle>This is some random text to describe the dog above</mat-card-subtitle>
        </div>

      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
