<div class="margins">
<mat-grid-list cols="3" rowHeight="fit">
  <mat-grid-tile [colspan]="2" [rowspan]="1" class="text">
    <div class="gridCell">
    <div>
      <h2>Haha</h2>
      <p>Well, my friend, it seems like we’re meant to be! As they say, love at first web link. I know I’m a bit corny, so let’s cut to the chase and let me formally introduce myself…</p>
    </div></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="art1">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    <div class="gridCell">
      <div class="linePath">
        <div class="line"></div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="gridCell">
    <div>
      <h2>What I do</h2>
      <p>I am Anthony Lakin, your certified web developer. You ask it, I create it. Seamless as slipping on your favorite pair of sandals. I am dedicated to bringing your digital visions to life with a little pinch of fun and creativity.</p>
    </div></div>
  </mat-grid-tile>
</mat-grid-list>
</div>

