* {
  color: var(--white);
}


mat-grid-tile {
  //border: solid 1px white;
}

mat-grid-list {
  height: 60em;
}

.art1 {
  height: 50%;
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  //background-color: green;
  div {
    height: .1em;
    display: block;
    background-color: var(--accentDark);
    margin-bottom: 4em;
  }
}

.art1 div:nth-child(2) {
  margin-left: 25%;
}
.art1 div:nth-child(3) {
  margin-left: 50%;
}

.linePath {
  height: 90%;
  .line {
    height: 100%;
  }
}









