.container {
  display: block;
  color: white;
  padding: 7em 4em;
}

article {
  padding: 5em 18em 1em;
//background-color: red;
}

.head_para_center {
  color: white;
  text-align: center;
}

.head_para_center > div {
  margin: 0 20%;
}


