.container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: black;
}

img {
  object-fit: cover;
}

.topLayer {
  transform: translateY(-50%);
  top: 50%;
  padding: 2em;
  position: absolute;
  color: white;
}

.topLayer > div {
  margin-right: 50vw;
  padding-left: 12em;
}

