body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

/*h1 {*/
/*  font-size: 4em;*/
/*}*/

/*h3 {*/
/*  font-size: 2em;*/
/*}*/

.margins {
  margin: 0 15%;
}

.margins * {
  display: block;
}

.gridCell {
  width: 100%;
  height: 100%;
}

.gridCell div {
  position: absolute;
}




