<div class="container">
  <header>
    <img class="background" priority ngSrc="../../assets/img/home/homeHeaderBackground.png" alt="background" fill>
    <img class="foreground" priority ngSrc="../../assets/img/home/homeHeaderForeground.png" alt="foreground" fill>
    <div class="face">
      <div class="title_text">
        <div>
          <h1>Hello, World!</h1>
          <p>As an app developer, I love solving problems, whether it's a simple inconvenience to complex full-stack
            operations, I'm here to provide secure and efficient solutions. Let's turn challenges into opportunities and
            build something amazing together! </p>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="head_para_center">
      <div>
        <h3>Who am I?</h3>
        <p>
          Indulgence announcing uncommonly met she continuing two unpleasing terminated. Now busy say down the shed eyes
          roof paid her.
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="three_columns">
      <div class="columnCard">
        <div id="img1" style="background-image: url('../../assets/img/home/icons/homeHouse.svg')" class="img"></div>
        <h4>Home</h4>
        <p>Greater Kansas City</p>
      </div>
      <div class="columnCard">
        <div style="background-image: url('../../assets/img/home/icons/homeSchool.svg')" class="img"></div>
        <h4>Home</h4>
        <p>Greater Kansas City</p>
      </div>
      <div class="columnCard">
        <div style="background-image: url('../../assets/img/home/icons/homeCode.svg')" class="img"></div>
        <h4>Home</h4>
        <p>Greater Kansas City</p>
      </div>
    </div>
  </article>
  <article>
<div class="project_cards"></div>
  </article>
</div>


