
* {
  display: flex;
  flex-direction: column;
  padding: 5em 0;
}

app-navbar {
  padding: 0 !important;
}

app-projects-wrapper {
  background-color: #E4E4E4;
}

app-home-body2 {
  background-color: var(--black);
}

app-footer {
  background-color: var(--footerBG);
}







