<div class="container">
  <header>
    <img class="background" ngSrc="../../assets/img/home/homeHeaderBackground.png" alt="background" fill>
    <img class="foreground" ngSrc="../../assets/img/home/homeHeaderForeground.png" alt="foreground" fill>
    <div class="face">
      <div class="title_text">
        <div>
          <h1>Hello, World!</h1>
          <p>As an app developer, I love solving problems, whether it's a simple inconvenience to complex full-stack
            operations, I'm here to provide secure and efficient solutions. Let's turn challenges into opportunities and
            build something amazing together! </p>
        </div>
      </div>
    </div>

  </header>
  <article>
    <div class="head_para_center">
      <h3>Who am I?</h3>
      <p>
        Indulgence announcing uncommonly met she continuing two unpleasing terminated. Now busy say down the shed eyes
        roof paid her. Of shameless collected suspicion existence in. Share walls stuff think but the arise guest.
      </p>
    </div>

  </article>
</div>


