body {
  background-color: red;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
  filter: brightness(.5);
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: white;
}


.title_text {
  position: relative;
  top: 30%;
  margin: auto 15em;

}

.title_text > div {
  width: 50%;
}

article {
  padding: 5em 18em 1em;
  //background-color: red;
}

.head_para_center {
  color: white;
  text-align: center;
}

.head_para_center > div {
  margin: 0 20%;
}

.three_columns {
  display: flex;
  justify-content: space-between;
}

.columnCard {
  text-align: center;
  color: white;
}

.img {
  height: 150px;
  width: 150px;
}





